.header {
    width: 100%;
    background-color: var(--background-main);
    left: 0;
    top: 0;
    color: white;
    padding: 2em 3em;
}

.nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 2rem;
}

.uil-brackets-curly {
    color: var(--title-color-hover);
    font-size: 1.7rem;
    padding: 0 .1em;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo__name {
    transition: 1000ms;
    font-size: 1.5rem;
}

.logo__name:hover {
    color: var(--title-color-hover);
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
}


.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    transition: 0.4s;
    font-size: 1.3rem;
}

.nav__link:hover {
    color: var(--title-color-hover);
}

.nav__close,
.nav__toogle,
.nav__logo {
    display: none;
}

@media screen and (max-width: 768px) {
    /*============ BREAKPOINTS ================*/
    /* For medium devices */
   .header {
        top: initial;
        bottom: 0;
        position: fixed;
        padding-left: 0;
        padding-right: 0;
        z-index: 1000;
   }

   .nav {
    height: 0.5rem;
   }

   .nav__menu {
        width: 100%;
        position: fixed;
        bottom: -100%;
        left: 0;
        padding: 1.5em 1.5em 8em ;
        background-color: var(--background-main);
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.308);
        border-radius: 2rem 2rem 0px 0px;
        z-index: 1000;
        transition: .4s;
   }

   /* ======= Show Menu ============ */

   .show__menu {
        width: 100%;
        position: fixed;
        left: 0;
        padding: 1.5em 1.5em 8em ;
        background-color: var(--background-main);
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.308);
        border-radius: 2rem 2rem 0px 0px;
        z-index: var(--z-fixed);
        transition: .4s;
    }
    
    /* ======= Show Menu ============ */

   .nav__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
   }

   .nav__item {
        font-size: var(--h2-font-size);
   }

   .nav__toogle,
   .nav__logo,
   .nav__close {
        display: block;
   }

   .nav__toogle {
        font-size: 1.5rem;
        cursor: pointer;
        transition: 1000ms;
   }

   .nav__toogle:hover {
        color: var(--title-color-hover);
   }

   .nav__close {
        padding: 1rem;
        font-size: 1.7rem;
        position: absolute;
        left: 90%;
        top: 45%;
        cursor: pointer;
        transition: 1000ms;
   }

   .nav__close:hover {
        color: var(--title-color-hover);
   }
}

@media screen and (max-width: 576px) {
    .nav__menu {
        padding: 1.5em 3.2em 12em ;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }

   .nav__close {
    left: 88%;
}
}

@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 1em 2em 12em ;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }

   
}




    



