<div className="projects__box 01">
    <div className="projects__box__img"></div>
    <h3 className="projects__box__title">Lepetit Blog</h3>
    <p className="projects__box__content">
        Olá pessoal! Estou animado para compartilhar com vocês sobre minha jornada de aprendizado em React enquanto construo meu próprio blog.

        Construir um blog em React me permitiu aprender muitas coisas novas e me desafiou a aplicar minhas habilidades de front-end em um projeto real.

        Com o React, pude criar componentes reutilizáveis e dinâmicos, tornando o desenvolvimento mais rápido e eficiente. Também aprendi a usar bibliotecas populares, como o React Router, que me permitiu criar rotas para diferentes páginas em meu blog.

        Criar um blog em React não apenas me permitiu aprimorar minhas habilidades de desenvolvedor front-end, mas também me ajudou a desenvolver habilidades em design e gerenciamento de conteúdo.

        No geral, acredito que criar um projeto prático como um blog em React é uma ótima maneira de aprimorar suas habilidades de desenvolvedor front-end. O aprendizado prático ajuda a consolidar o conhecimento teórico, além de ser uma forma divertida e desafiadora de aprender algo novo.

        link do projeto: <a href="https://projeto-blog-five.vercel.app/" target="_blank" rel="noopener noreferrer">projeto-blog-five.vercel.app</a>

        repositório: <a href="https://github.com/VICTOR-AZZOLINI-DEV/Projeto-Blog" target="_blank" rel="noopener noreferrer">github.com/VICTOR-AZZOLINI-DEV/Projeto-Blog</a>
    </p>
    <ul className="projects__box__tools">
        <li className="projects__box__tools-item">
            <i class="uil uil-react"></i>
        </li>
        <li className="projects__box__tools-item">
            <i className="uil uil-react"></i>
        </li>
        <li className="projects__box__tools-item">
            <i className="uil uil-html5"></i>
        </li>
        <li className="projects__box__tools-item">
            <i class="uil uil-css3-simple"></i>
        </li>
    </ul>
</div>
<div className="projects__box 02">
    <div className="projects__box__img"></div>
    <h3 className="projects__box__title"></h3>
    <p className="projects__box__content"></p>
</div>
<div className="projects__box 03">
    <div className="projects__box__img"></div>
    <h3 className="projects__box__title"></h3>
    <p className="projects__box__content"></p>
</div>