.projects__main {
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    row-gap: 2rem;
}

.projects__title {
    padding-top: 2rem;
    margin-bottom: 5rem;
    font-weight: 300;
}

.projects__box-min {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:352px;
    height: 240px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.404);
    cursor: pointer;
    z-index: 100;
}

.blog {
    background-image: url("../../assets/lepetit-blog.png");
}

.land-page {
    background-image: url("../../assets/land-page-android.png");
}

.page-tribute {
    background-image: url("../../assets/tribute-page.png");
}

.projects__box-min:hover {
    transform: scale(1.2, 1.2);
    transition: 0.3s;
    z-index: 1;
}

.projects__box-min__cont  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.projects__box-min__cont__black{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    gap: 2rem; 
}

.projects__box-min__cont__icons {
    color: rgb(241, 70, 70);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.027);
    gap: 1rem;
    font-size: 1.9rem; 
}

.projects__box-min__cont__icons__out {
    color: rgb(241, 70, 70);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.027);
    gap: 1rem;
    font-size: 1.9rem; 
    margin-bottom: 200px;
    display: none;
}

.icon {
    border: 0.001rem solid white;
    padding: 0.3rem;
    border-radius: 10px 5px 10px 5px;
    background-color: rgba(0, 0, 0, 0.404);
}


.icon:hover {
    transform: scale(1.2, 1.2);
}

.box-min__btn {
    padding: 0.4rem 2px 0.4rem 2px;
    width: 100px;
}

.box-min__btn__out {
    display: none;
}

/*============ BREAKPOINTS ================*/
/* For large devices */
@media screen and (max-width: 992px) {
    
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .projects__box-min:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
    }
  }
  
  @media screen and (max-width: 576px) {
    .projects__box-min:hover {
        transform: scale(1.01, 1.01);
        transition: 0.3s;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    
  }
  